{{> navBar}}

<!-- Bootstrap jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Smithsonian Natural History Museum Database</h1>
    <p class="lead">This a database representing the Smithsonian National Museum of Natural History. </p>
    <hr class="my-4">
    <p>This museum contains many interesting aspects, from people to artifacts. We will be maintaining a database for
        visitors, employees, exhibitions, artifacts, and events held at the museum.</p>
</div>

<div class="home-text">
    <h3>The entities in our database are: </h3>
    <ul>
        <li> Artifact
            <ul>
                <li>*Artifact ID</li>
                <li>Display</li>
                <li>Acquisition Year</li>
                <li>Material</li>
                <li>Damage</li>
            </ul>
        </li>

        <li> Event 
            <ul>
                <li>*Event ID</li>
                <li>*Exhibition ID</li>
                <li>*Staff ID</li>
                <li>Type of Event</li>
                <li>Date</li>
            </ul>
        </li>

        <li> Exhibition 
            <ul>
                <li>*Exhibition ID</li>
                <li>*Artifact ID</li>
                <li>Room</li>
                <li>Start Date</li>
                <li>End Date</li>
            </ul>
        </li>

        <li> Staff 
            <ul>
                <li>*Staff ID</li>
                <li>First Name</li>
                <li>Last Name</li>
                <li>Job</li>
            </ul>
        </li>
        <li> Artifact_Exhibition 
            <ul>
                <li>Artifact ID</li>
                <li>Exhibition ID</li>
            </ul>
        </li>
        <li> Staff_Exhibition 
            <ul>
                <li>Staff ID</li>
            <li>Exhibition ID</li>
            </ul>
        </li>
        <li> Staff_Event 
            <ul>
                <li>Staff ID</li>
                <li>Event ID</li>
            </ul>
        </li>
    </ul>
</div>