{{> navBar}}

<!-- Bootstrap jumbotron -->
<div class="jumbotron">
    <h1 class="display-4">Smithsonian Natural History Museum Database</h1>
    <p class="lead">This a database representing the Smithsonian National Museum of Natural History. </p>
    <hr class="my-4">
    <p>This museum contains many interesting aspects, from people to artifacts. We will be maintaining a database for
        visitors, employees, exhibitions, artifacts, and events held at the museum.</p>
</div>

<p>The entities in our database are: </p>
<ul>
    <li> Artifact </li>
    <li> Event </li>
    <li> Exhibition </li>
    <li> Staff </li> 
    <li> Artifact_Exhibition </li>
    <li> Staff_Exhibition </li>
    <li> Staff_Event </li>
</ul>